.container{
  display: flex;
  flex-direction: row;
  width: 700px;
}
.left{
  background-color: white;
}
.eventsContainer{
  width:600px;
  height: 720px;
  background-color: #ECECEC;  
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding: 2rem;
}
.event{
  background-color: transparent;
  position: absolute;
  color: #92A7CA;
  font-weight: bolder;
  border-left: 2px solid #92A7CA;
  font-size: small;
  margin-left: 2rem;
  padding-left: 2px;
}
.event > p{
  font-weight: lighter;
  font-size: xx-small;
  color: #7E7E7E;
  margin-top: 0px;
}
.hours{
  display: flex;
  flex-direction: column;
}
.hour{
  display: flex;
  flex-direction: column;
  text-align: end;
}
.hour > p{
  padding-top: 12px;
  height: 0px;
  color: #7E7E7E;
}
.hour > :nth-child(1){
font-size: xx-small;
font-weight: bolder;
}
.hour > :nth-child(2){
  font-size: xx-small;
}

